* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculadora {
    background-color: #c99393;
    margin: 0;
}

.calculadora {
    width: 300px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    color: #5f5b5b;
}