@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 46, 55);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

#container {
    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h1 {
    font-weight: 900;
    color: var(--primary-color);
}
